@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-100 text-slate-800 antialiased;
}

/* Ẩn nút tăng/giảm của input number cho gọn */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
